<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   		http://www.springframework.org/schema/util
        	http://www.springframework.org/schema/util/spring-util-3.0.xsd
        	http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <!-- Read configuration properties -->
    <context:property-placeholder location="classpath:configuration.properties" system-properties-mode="OVERRIDE" />
	
    <!-- Email support -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mailserver_host}" />
        <property name="port" value="${mail.server.port}" />
        <property name="protocol" value="${mail.server.protocol}" />
        <property name="username" value="${mailserver_username}" />
        <property name="password" value="${mailserver_password}" />
        <property name="javaMailProperties">
        	<util:properties location="classpath:javamail.properties" />
        </property>
    </bean>

	<!-- Velocity engine support -->    
	<bean id="velocityEngine"
	    class="org.springframework.ui.velocity.VelocityEngineFactoryBean"
	    p:resourceLoaderPath="/WEB-INF/email" />
	    
	    
	    
    <bean id="forkAdvice" class="com.leonti.slickpm.aspect.ForkAdvice"/>  
      
    <aop:config>  
        <aop:aspect ref="forkAdvice">  
            <aop:around method="fork"  
				pointcut="execution(* org.springframework.mail.javamail.JavaMailSenderImpl.send(..))"/>  
        </aop:aspect>  
    </aop:config> 	    
	    	    
</beans>
