html,
body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}

.wrapper > .container,
.wrapper > .container-fluid {
	padding-top: 60px;
}

.footer {
	text-align: center;
	height: 40px;
	line-height: 40px;
}

.footerPush {
	height: 40px;
}

.task {
	background: #888;
	border-bottom: 2px solid #ccc;	
}

.task, .task .details {
	overflow: hidden; 
	_overflow: visible;
	zoom: 1;
}

.task .details {
	padding-top: 5px;
}

.task .title {
	font-size: 120%;
	font-weight: bold;
	color: #333;	
}

.task .user {
	float: left; 
	margin-right: 10px;
}
.task .user img{
	display: block;
	width: 60px;
	height: 60px;
}

/* TaskBoard */
#taskboard .stages {
	width: 100%;
	table-layout: fixed;
	display: table;
	border-left: 1px solid black;
}

.stages .column {
	display: table-cell;
	border: 1px solid black;
	border-left: none;
}

#taskboard .stages h3 {
	margin-left: 10px;
}

#taskboard .taskList {
	min-height: 600px;
	background: #EEEEEE;
}

#taskboard .taskList .task {
	min-height: 80px;
	cursor: pointer;
}

#taskboard .taskList .task .user img {
	width: 60px;
	height: 60px;
}

#taskboard .taskList.hover {
	background: #c5f193;
}

/* Scrum */
.iteration .title {
	font-size: 120%;
	font-weight: bold;
}

/* User edit */
.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-700px, 0px) scale(8);
}

.fileinput-button {
    overflow: hidden;
    position: relative;
}

.avatar {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;	
    padding: 5px;
    display: table;	
}

.avatar .image {
	cursor: pointer;
	position: relative;
}

.avatar .image .background {
	width: 128px;
	height: 128px;	
}

.avatar .change {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	opacity: 0.7;
	text-align: center;
	font-weight: bold;
	display: none;
}

.avatar:hover .change {
	display: block;
}
