
<div class="control-group">
	<label>Title:</label>

	<div class="controls">
		<input type="text" class="title" value="<%= title %>" required />
		<p class="help-block"></p>
	</div>
</div>


<label>Description:</label>
<textarea class="description"><%= description %></textarea>
<br>
<label>Git uri:</label>
<% if (vcs) { %>
<input type="text" class="uri input-xxlarge" value="<%= vcs.uri %>" />
<% } else { %>
<input type="text" class="uri input-xxlarge" value="" />
<% } %>
<button class="save btn btn-primary">Save</button>
<button class="cancel btn btn">Cancel</button>
<button class="delete btn">Delete</button>


