<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#details" data-toggle="tab">Details</a>
		</li>
		<li><a href="#comments" data-toggle="tab">Comments</a></li>
		<li><a href="#attachments" data-toggle="tab">Attachments</a></li>
		<li><a href="#dependencies" data-toggle="tab">Dependencies</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="details">
			<label>Title:</label>
			<span class="title"><%= title %></span><br>
			<label>Description:</label>
			<span class="description"><%= description %></span><br>
			<label>Assigned to:</label>
			<div class="assignedUser"></div>
		</div>
		<div class="tab-pane" id="comments">
		</div>
		<div class="tab-pane" id="attachments">
		</div>
		<div class="tab-pane" id="dependencies">
		</div>	
	</div>

</div>