<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#details" data-toggle="tab">Details</a>
		</li>
		<li><a href="#comments" data-toggle="tab">Comments</a></li>
		<li><a href="#attachments" data-toggle="tab">Attachments</a></li>
		<li><a href="#dependencies" data-toggle="tab">Dependencies</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="details">
			<h5><span class="title editable"><%= title %></span></h5>
			<label>Description:</label>
			<div class="well well-small">
				<span class="description" style="display:inline-block; min-width: 100%;"><% if (description.length) { %><%= description %><% } else { %>&nbsp;<% } %></span>
			</div>			
			<% if (project.vcs != null) { %>
			<span class="vcs btn btn-link">View commits for task</span><br>
			<% } %>
			<label>Assigned to:</label>
			<div class="assignedUser btn btn-link"><span class="assignHandle">Assign user</span></div>
		</div>
		<div class="tab-pane" id="comments">
		</div>
		<div class="tab-pane" id="attachments">
		</div>
		<div class="tab-pane" id="dependencies">
		</div>	
	</div>

</div>