<label>Name:</label>
<input type="text" class="name" value="<%= name %>" required />
<label>Avatar:</label>
<input type="hidden" class="avatarId" value="<%= avatarId %>" />

<form id="avatarupload" class="userform" action="/file/upload" method="POST" enctype="multipart/form-data">
	<div class="avatar">
		<div class="image fileinput-button">
			<div class="change">Change Avatar</div>
			<% if (avatarId) { %>
				<img class="background" src="/file/download/<%= avatarId %>/avatar" />
			<% } else { %>
				<img class="background" src="/resources/images/avatar_placeholder.png" />
			<% } %>
			
			<input type="file" name="file" multiple>
		</div>
	</div>
</form>

<button class="save btn">Save</button>
<button class="delete btn">Delete</button>